[submodule "AstroChessApp"]
	path = AstroChessApp
	url = git@github.com:AstroChess/AstroChessApp.git
[submodule "AstroChessBackend"]
	path = AstroChessBackend
	url = git@github.com:AstroChess/AstroChessBackend.git
[submodule "AstroChessAuth"]
	path = AstroChessAuth
	url = git@github.com:AstroChess/AstroChessAuth.git
